body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/*---------- search area---------- */
.search-btn {
  background-color: #802c6e;
  color: white;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 12px;
}
.search-field:hover {
  outline: none;
  border: none;
}
/*--------- products area ----------- */
.single-product {
  padding: 10px;
  transition: 0.4s;
}
.single-product:hover {
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.product-image {
  height: 300px;
}
.font {
  font-size: 18px;
}
#addToCart-btn,
#buy-now {
  background: #802c6e;
  color: white;
  font-weight: 500;
}

#details-btn {
  background: #fff;
  border: 1px solid #802c6e;
  font-weight: 500;
}
#details-btn:hover {
  background: #802c6e;
  color: #fff;
}
/*------- my cart portion --------- */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
/*--------- responsive --------- */
@media only screen and (max-width: 768px) {
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
